.page__header {
  font-family: 'Lobster', cursive;
  color: #b71550;
  // background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}
